name: Maven tests

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Set up JDK 17
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2 # v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Run Maven tests
        env:
          TEST_TOKEN: ${{ secrets.TEST_TOKEN }}
        run: mvn test
